/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
  color: hsl(229, 23%, 23%);
  background-image: url("./images/bg-pattern-top.svg"),
    url("./images/bg-pattern-bottom.svg");
  background-repeat: no-repeat, no-repeat;
  background-color: hsl(185, 75%, 39%);
  background-position: right 50vw bottom 36vh, left 50vw top 40vh;
}

.light {
  font-weight: 400;
  color: hsl(227, 10%, 46%);
}

.small-font {
  font-size: 14px;
}

.tiny-font {
  font-size: 10px;
  letter-spacing: 2px;
}

.background {
  position: relative;
  overflow: hidden;
}

.container {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 22rem;
  z-index: 10;
  margin: 2rem;
}

.card .top {
  height: 9rem;
  background: url(./images/bg-pattern-card.svg);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  position: relative;
  display: flex;
  justify-content: center;
}

.card img {
  line-height: 0;
  border-radius: 50%;
  background: #fff;
  padding: 0.3rem;
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  margin: auto;
}

.card .center {
  background: #fff;
  height: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.card .center p:first-child {
  margin-bottom: 0.5rem;
}

.card .center p:last-child {
  margin-bottom: 1.5rem;
}

.card .bottom {
  background: #fff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top: 1px #e7e7e7 solid;
  height: 5.5rem;
}

.card .bottom ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  text-align: center;
}

.attribution-wrapper {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.attribution {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  text-align: center;
  display: inline-block;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.attribution p {
  padding: 0.5rem;
  font-size: 1rem;
}
